@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  :root {
    --onboard-modal-z-index: 88;

    /* colors */
    --orderly-color-primary: 51 95 252;
    --orderly-color-primary-light: 96 140 255;
    --orderly-color-primary-darken: 96 140 255;

    --orderly-color-secondary: 51 57 72;
    --orderly-color-tertiary: 97 100 104;
    --orderly-color-quaternary: 218 218 218;
    /*--orderly-color-disabled:218 218 218;*/

    --orderly-color-danger: 255 68 124;
    --orderly-color-success: 27 32 40;
    --orderly-color-warning: 229 199 0;

    --orderly-color-background: 27 32 40;
    --orderly-color-background-contrast: 255 255 255;

    --orderly-color-trading-loss: 233 62 113;
    --orderly-color-trading-loss-contrast: 40 46 58;
    --orderly-color-trading-profit: 3 152 134;
    --orderly-color-trading-profit-contrast: 40 46 58;

    --orderly-color-neutral: 27 32 40;

    --orderly-color-base-300: 32 37 47;
    --orderly-color-base-200: 27 32 40;
    --orderly-color-base-100: 24 28 35;
    --orderly-color-base-400: 57 65 85;
    --orderly-color-base-foreground: 255 255 255;
    --orderly-color-base-muted-foreground: 32 37 47;

    /*brand color*/
    /*--orderly-brand-50: 255 255 255;*/
    /*--orderly-brand-100: 255 255 255;*/
    /*--orderly-brand-200: 255 255 255;*/
    /*--orderly-brand-300: 255 255 255;*/
    /*--orderly-brand-400: 255 255 255;*/
    /*--orderly-brand-500: 255 255 255;*/
    /*--orderly-brand-600: 255 255 255;*/
    /*--orderly-brand-700: 255 255 255;*/
    /*--orderly-brand-800: 255 255 255;*/
    /*--orderly-brand-900: 7 8 10;*/

    --orderly-color-fill: 40 46 58;
    --orderly-color-fill-dark: 40 46 58;
    --orderly-color-fill-light: 75 83 105;

    --orderly-color-popover: 51 57 72;
    --orderly-color-popover-foreground: 255 255 255;

    --orderly-color-fill-active: 40 46 58;

    --orderly-color-divider: 42 46 52;

    /* shadows */
    /*--orderly-button-shadow: 0 0 0 1px rgba(255,255,255,.1) inset, 0 4px 0 0 ;*/
    --orderly-button-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
      0 -4px 0 0 rgba(0, 0, 0, 0.15) inset;

    /* rounded */
    --orderly-rounded: 6px;
    --orderly-rounded-sm: 4px;
    --orderly-rounded-lg: 16px;
    --orderly-rounded-full: 9999px;

    /* font */
    --orderly-header-title-font-size: 20px;

    /* components */
    --orderly-orderbook-cell-height: 22px;
    --orderly-orderbook-cell-font-size: 12px;
  }

  [data-o-theme="woo_light"] {
    /* colors */
    --orderly-color-primary: 83 94 123;
    --orderly-color-secondary: 255 255 255;
    --orderly-color-tertiary: 218 218 218;
    --orderly-color-quaternary: 218 218 218;
    /*--orderly-color-disabled:218 218 218;*/

    --orderly-color-background: 27 32 40;
    --orderly-color-background-contrast: 255 255 255;

    --orderly-color-fill: 226 232 240;
    --orderly-color-fill-active: 40 46 58;

    --orderly-color-divider: 218 218 218;

    --orderly-color-trading-loss: 255 68 124;
    --orderly-color-trading-loss-contrast: 40 46 58;
    --orderly-color-trading-profit: 0 180 158;
    --orderly-color-trading-profit-contrast: 40 46 58;

    --orderly-color-base-100: 248 250 252;
    --orderly-color-base-200: 241 245 249;
    --orderly-color-base-300: 226 232 240;
    --orderly-color-base-foreground: 15 23 42;
  }
  [data-o-theme="orderly"] {
    /* colors */

    --orderly-color-primary: 182 79 255;
    --orderly-color-primary-light: 208 140 255;
    --orderly-color-primary-darken: 152 62 214;

    --orderly-color-link: 182 79 255;

    --orderly-color-quaternary: 203 66 218;

    --orderly-color-secondary: 255 255 255;
    --orderly-color-tertiary: 218 218 218;
    --orderly-color-quaternary: 218 218 218;
    /*--orderly-color-disabled:218 218 218;*/

    --orderly-color-danger: 232 88 175;
    --orderly-color-danger-light: 255 103 191;
    --orderly-color-danger-darken: 199 68 146;

    --orderly-color-success: 3 152 134;
    --orderly-color-success-light: 0 181 159;
    --orderly-color-success-darken: 0 119 105;

    --orderly-color-warning: 255 207 115;
    --orderly-color-warning-light: 229 199 0;
    --orderly-color-warning-darken: 229 199 0;

    --orderly-color-background: 27 32 40;
    --orderly-color-background-contrast: 255 255 255;

    --orderly-color-fill: 36 32 47;
    --orderly-color-fill-active: 40 46 58;

    --orderly-color-base-100: 93 83 123;
    --orderly-color-base-200: 81 72 107;
    --orderly-color-base-300: 68 61 89;
    --orderly-color-base-400: 57 52 74;
    --orderly-color-base-500: 51 46 66;
    --orderly-color-base-600: 43 38 56;
    --orderly-color-base-700: 36 32 47;
    --orderly-color-base-800: 29 26 38;
    --orderly-color-base-900: 22 20 28;

    --orderly-color-popover: 43 38 56;
    --orderly-color-popover-foreground: 255 255 255;

    --orderly-color-base-foreground: 255 255 255;

    --orderly-color-trading-loss: 255 103 194;
    --orderly-color-trading-loss-contrast: 40 46 58;
    --orderly-color-trading-profit: 0 181 159;
    --orderly-color-trading-profit-contrast: 40 46 58;

    /* rounded */
    --orderly-rounded: 6px;
    --orderly-rounded-sm: 4px;
    --orderly-rounded-lg: 8px;
    --orderly-rounded-full: 9999px;

    --orderly-button-shadow: none;

    --orderly-font-size-base: 16px;

    --orderly-color-divider: 42 46 52;

    --orderly-font-family: "Manrope", sans-serif;
  }
}



body {
  font-family: "Manrope", sans-serif;
}
