@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    /** orderly theme */
    :root {
        /* colors */
        --orderly-color-primary: 182 79 255;
        --orderly-color-primary-light: 208 140 255;
        --orderly-color-primary-darken: 152 62 214;
        --orderly-color-primary-contrast: 255 255 255;

        --orderly-color-link: 182 79 255;
        --orderly-color-link-light: 208 140 255;

        --orderly-color-secondary: 255 255 255;
        --orderly-color-tertiary: 218 218 218;
        --orderly-color-quaternary: 218 218 218;
        /*--orderly-color-disabled:218 218 218;*/

        --orderly-color-danger: 232 88 175;
        --orderly-color-danger-light: 255 103 191;
        --orderly-color-danger-darken: 199 68 146;
        --orderly-color-danger-contrast: 255 255 255;

        --orderly-color-success: 3 152 134;
        --orderly-color-success-light: 0 181 159;
        --orderly-color-success-darken: 0 119 105;
        --orderly-color-success-contrast: 255 255 255;

        --orderly-color-warning: 255 207 115;
        --orderly-color-warning-light: 255 207 115;
        --orderly-color-warning-darken: 117 88 33;
        --orderly-color-warning-contrast: 255 255 255;

        --orderly-color-fill: 36 32 47;
        --orderly-color-fill-active: 40 46 58;

        --orderly-color-base-100: 93 83 123;
        --orderly-color-base-200: 81 72 107;
        --orderly-color-base-300: 68 61 89;
        --orderly-color-base-400: 57 52 74;
        --orderly-color-base-500: 51 46 66;
        --orderly-color-base-600: 43 38 56;
        --orderly-color-base-700: 36 32 47;
        --orderly-color-base-800: 29 26 38;
        --orderly-color-base-900: 22 20 28;

        --orderly-color-base-foreground: 255 255 255;

        --orderly-color-trading-loss: 255 103 194;
        --orderly-color-trading-loss-contrast: 255 255 255;
        --orderly-color-trading-profit: 0 181 159;
        --orderly-color-trading-profit-contrast: 255 255 255;

        /* rounded */
        --orderly-rounded: 6px;
        --orderly-rounded-sm: 4px;
        --orderly-rounded-lg: 8px;
        --orderly-rounded-full: 9999px;

        --orderly-button-shadow: none;

        /** custom font sizes, if only provide --orderly-font-size-base var, other font sizes will auto calc */
        --orderly-font-size-4xs: 11px;
        --orderly-font-size-3xs: 12px;
        --orderly-font-size-2xs: 13px;
        --orderly-font-size-xs: 14px;
        --orderly-font-size-sm: 15px;
        --orderly-font-size-base: 16px;
        --orderly-font-size-lg: 18px;
        --orderly-font-size-xl: 20px;
        --orderly-font-size-2xl: 24px;
        --orderly-font-size-3xl: 30px;
        --orderly-font-size-4xl: 36px;

        --orderly-color-divider: 42 46 52;
        --orderly-color-divider-fill: 255 255 255;

        --orderly-font-family: "Manrope", sans-serif;

        --orderly-shadow-sm: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow-md: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow-lg: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow-lg: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow-xl: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
        --orderly-shadow-2xl: "0px 12px 20px 0px rgba(0, 0, 0, 0.3)";
    }
}

/** custom theme */
[data-o-theme="custom"] {
    --orderly-color-primary: 71 116 246;
    --orderly-color-primary-light: 96 140 255;
    --orderly-color-primary-darken: 51 95 252;
    --orderly-color-primary-contrast: 255 255 255;

    --orderly-color-link: 96 140 255;

    --orderly-color-secondary: 51 57 72;
    --orderly-color-tertiary: 97 100 104;
    --orderly-color-quaternary: 218 218 218;

    /** Danger / Sell / Short */
    --orderly-color-danger: 233 62 113;
    --orderly-color-danger-light: 255 68 124;
    --orderly-color-danger-darken: 172 45 88;
    --orderly-color-danger-contrast: 255 255 255;

    /** Success / Buy / Long */
    --orderly-color-success: 3 152 134;
    --orderly-color-success-light: 0 180 158;
    --orderly-color-success-darken: 0 119 105;
    --orderly-color-success-contrast: 255 255 255;

    /** Warning */
    --orderly-color-warning: 229 199 0;
    --orderly-color-warning-light: 229 199 0;
    --orderly-color-warning-darken: 90 72 12;
    --orderly-color-warning-contrast: 255 255 255;

    --orderly-color-fill: 40 46 58;
    --orderly-color-fill-active: 40 46 58;

    /** Background */
    --orderly-color-base-100: 83 94 123;
    --orderly-color-base-200: 74 83 105;
    --orderly-color-base-300: 57 65 85;
    --orderly-color-base-400: 51 57 72;
    --orderly-color-base-500: 40 46 58;
    --orderly-color-base-600: 32 37 47;
    --orderly-color-base-700: 27 32 40;
    --orderly-color-base-800: 24 28 35;
    --orderly-color-base-900: 19 21 25;

    --orderly-color-base-foreground: 255 255 255;

    --orderly-color-trading-loss: 255 68 124;
    --orderly-color-trading-loss-contrast: 255 68 124;
    --orderly-color-trading-profit: 0 180 158;
    --orderly-color-trading-profit-contrast: 0 180 158;

    /* rounded */
    --orderly-rounded: 6px;
    --orderly-rounded-sm: 4px;
    --orderly-rounded-lg: 8px;
    --orderly-rounded-xl: 16px;
    --orderly-rounded-full: 9999px;

    --orderly-button-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -4px 0 0 rgba(0, 0, 0, 0.15) inset;

    --orderly-font-size-4xs: 11px;
    --orderly-font-size-3xs: 12px;
    --orderly-font-size-2xs: 13px;
    --orderly-font-size-xs: 14px;
    --orderly-font-size-sm: 15px;
    --orderly-font-size-base: 16px;
    --orderly-font-size-lg: 18px;
    --orderly-font-size-xl: 20px;
    --orderly-font-size-2xl: 24px;
    --orderly-font-size-3xl: 30px;
    --orderly-font-size-4xl: 36px;

    --orderly-color-divider: 42 46 52;

    --orderly-font-family: "DIN2014-Demi", "PingFangSC-Medium", "Noto Sans",
    sans-serif;

    --orderly-referral-bg-gradient-from: 39 43 147;
    --orderly-referral-bg-gradient-to: 41 137 226;
    --orderly-referral-text-gradient-from: 38 254 254;
    --orderly-referral-text-gradient-to: 89 176 254;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(255, 255, 255, 0.04) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 3px;
    /* border: 1px solid #ffffff; */
}

.absolut-item-center {
    top: 50%;
    transform: translateY(-50%);
}
