@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        /* colors */
        --orderly-color-primary:51 95 252;
        --orderly-color-background:27 32 40;
        --orderly-color-background-contrast: 255 255 255;
        /* rounded */

        --orderly-rounded: 6px;
        --orderly-rounded-sm: 4px;
        --orderly-rounded-lg: 16px;
        --orderly-rounded-full: 9999px;

    }
}