include:
  - project: "orderlynetwork/orderly-devops/orderly-common/common-ci"
    ref: main
    file: "/common-orderly-network-dev-v2.yaml"
  - project: "orderlynetwork/orderly-devops/orderly-common/common-ci"
    ref: main
    file: "/common-orderly-network-prod-evm.yaml"

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  SERVICE_NAME: storybook
  IMAGE_NAME: storybook
  DOCKER_FILE: ${CI_PROJECT_DIR}/Dockerfile

stages:
  - check_tag
  - build_docker
  - deploy
  - release # add release stage

.internal_publish_template: &internal_publish_template
  stage: release
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/node:20
  before_script:
     # custom commit message
    - export GIT_COMMIT_MESSAGE="publish internal ${RELEASE_TYPE}"
    - |
      if [ "$RELEASE_TYPE" = "patch" ]; then
        export EXIT_PRE_TAG=false
      else
        export EXIT_PRE_TAG=true
      fi
  script:
    - git checkout "$CI_COMMIT_BRANCH"
    - 'echo "Latest commit message: $CI_COMMIT_MESSAGE"'
    - |
      git config --global --add safe.directory "$CI_PROJECT_DIR"

      export CI_COMMIT_BRANCH="$CI_COMMIT_BRANCH"
      export GIT_TOKEN="$GIT_TOKEN_INTERNAL"
      export GIT_USERNAME="$GIT_USERNAME_INTERNAL"
      export GIT_NAME="$GIT_NAME_INTERNAL"
      export GIT_EMAIL="$GIT_EMAIL_INTERNAL"
      export NPM_REGISTRY="$NPM_REGISTRY_INTERNAL"
      export NPM_TOKEN="$NPM_TOKEN_INTERNAL"
      # set manual trigger to true to skip check branch
      export MANUAL_TRIGGER=true

      npm install -g pnpm@9
      pnpm install --frozen-lockfile
      pnpm release:${RELEASE_TYPE}
  tags:
    - dev
    - build
  rules:
    - if: '$CI_COMMIT_BRANCH == "npm-publish"'
      when: manual
    - when: never

internal_patch_publish:
  <<: *internal_publish_template
  variables:
    RELEASE_TYPE: patch

internal_minor_publish:
  <<: *internal_publish_template
  variables:
    RELEASE_TYPE: minor

internal_major_publish:
  <<: *internal_publish_template
  variables:
    RELEASE_TYPE: major



.npm_publish_template: &npm_publish_template
  stage: release
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/node:20 
  script:
    - git checkout "$CI_COMMIT_BRANCH"
    - |
      git config --global --add safe.directory "$CI_PROJECT_DIR"

      export CI_COMMIT_BRANCH="$CI_COMMIT_BRANCH"
      export GIT_TOKEN="$GIT_TOKEN_NPM"
      export GIT_USERNAME="$GIT_USERNAME_NPM"
      export GIT_NAME="$GIT_NAME_NPM"
      export GIT_EMAIL="$GIT_EMAIL_NPM"
      export NPM_REGISTRY="$NPM_REGISTRY_NPM"
      export NPM_TOKEN="$NPM_TOKEN_NPM"

      # set manual trigger to true to skip check branch
      export MANUAL_TRIGGER=true

      # custom commit message
      export GIT_COMMIT_MESSAGE="${GIT_COMMIT_MESSAGE}"

      # custom pre tag
      export CUSTOM_PRE_TAG="${CUSTOM_PRE_TAG}"

      # exit pre tag
      export EXIT_PRE_TAG="${EXIT_PRE_TAG}"     

      npm install -g pnpm@9
      pnpm install --frozen-lockfile
      pnpm release:${RELEASE_TYPE}
  tags:
    - dev
    - build
  rules:
    - if: '$CI_COMMIT_BRANCH == "npm-release" && $CI_COMMIT_MESSAGE !~ /publish/'
      when: always
    - when: never

npm_alpha_publish:
  <<: *npm_publish_template
  variables:
    RELEASE_TYPE: patch
    GIT_COMMIT_MESSAGE: "publish alpha"
    CUSTOM_PRE_TAG: alpha
    EXIT_PRE_TAG: false

npm_patch_publish:
  <<: *npm_publish_template
  variables:
    RELEASE_TYPE: patch
    GIT_COMMIT_MESSAGE: "publish release"
    EXIT_PRE_TAG: true