engine-strict=true
auto-install-peers = true
public-hoist-pattern[]=*storybook*

# Private registry for @orderly.network (e.g. youtube-live-plugin)
@orderly.network:registry=http://npm.orderly.network