.react-resizable-handle {
  z-index: 100;
}
.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid
    rgb(var(--oui-color-base-6) / var(--tw-border-opacity, 1));
  border-bottom: 2px solid
    rgb(var(--oui-color-base-6) / var(--tw-border-opacity, 1));
  width: 8px;
  height: 8px;
}
