:root {
  /** Primary */
  --orderly-color-primary: 71 116 246;
  --orderly-color-primary-light: 96 140 255;
  --orderly-color-primary-darken: 51 95 252;
  --orderly-color-primary-contrast: 255 255 255;
  --orderly-color-link: 96 140 255;
  --orderly-color-secondary: 51 57 72;
  --orderly-color-tertiary: 97 100 104;
  --orderly-color-quaternary: 218 218 218;
  /** Danger / Sell / Short */
  --orderly-color-danger: 233 62 113;
  --orderly-color-danger-light: 255 68 124;
  --orderly-color-danger-darken: 172 45 88;
  --orderly-color-danger-contrast: 255 255 255;
  /** Success / Buy / Long */
  --orderly-color-success: 3 152 134;
  --orderly-color-success-light: 0 180 158;
  --orderly-color-success-darken: 0 119 105;
  --orderly-color-success-contrast: 255 255 255;
  /** Warning */
  --orderly-color-warning: 229 199 0;
  --orderly-color-warning-light: 229 199 0;
  --orderly-color-warning-darken: 90 72 12;
  --orderly-color-warning-contrast: 255 255 255;
  --orderly-color-fill: 40 46 58;
  --orderly-color-fill-active: 40 46 58;
  /** Background */
  --orderly-color-base-100: 83 94 123;
  --orderly-color-base-200: 74 83 105;
  --orderly-color-base-300: 57 65 85;
  --orderly-color-base-400: 51 57 72;
  --orderly-color-base-500: 40 46 58;
  --orderly-color-base-600: 32 37 47;
  --orderly-color-base-700: 27 32 40;
  --orderly-color-base-800: 24 28 35;
  --orderly-color-base-900: 19 21 25;
  --orderly-color-base-foreground: 255 255 255;
  --orderly-color-trading-loss: 255 68 124;
  --orderly-color-trading-loss-contrast: 255 68 124;
  --orderly-color-trading-profit: 0 180 158;
  --orderly-color-trading-profit-contrast: 0 180 158;
  /* rounded */
  --orderly-rounded: 6px;
  --orderly-rounded-sm: 4px;
  --orderly-rounded-lg: 8px;
  --orderly-rounded-full: 9999px;
  --orderly-button-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -4px 0 0 rgba(0, 0, 0, 0.15) inset;
  --orderly-font-size-4xs: 11px;
  --orderly-font-size-3xs: 12px;
  --orderly-font-size-2xs: 13px;
  --orderly-font-size-xs: 14px;
  --orderly-font-size-sm: 15px;
  --orderly-font-size-base: 16px;
  --orderly-font-size-lg: 18px;
  --orderly-font-size-xl: 20px;
  --orderly-font-size-2xl: 24px;
  --orderly-font-size-3xl: 30px;
  --orderly-font-size-4xl: 36px;
  --orderly-color-divider: 42 46 52;
  --orderly-font-family: 'DIN2014-Demi', 'PingFangSC-Medium', 'Noto Sans', sans-serif;
}
html,
body {
  background-color: rgb(var(--orderly-color-base-800));
}
.orderly-button-variant-contained.orderly-button-color-primary:not([disabled]) {
  background-color: #335FFC;
}
#orderly-botom-bar-container {
  background-color: rgb(var(--orderly-color-base-700));
}
#orderly-botom-bar-switch-chain-button {
  border: 1px solid #26FEFE;
}
#orderly-botom-bar-not-connect-button,
#orderly-botom-bar-connect-button {
  background: linear-gradient(270deg, #59B0FE -0.08%, #26FEFE 100%), linear-gradient(90deg, #272747 11.64%, #3C386B 100%);
  color: #181c23;
  font-weight: 600;
  box-shadow: none;
  font-size: 12px;
}
#orderly-reduce-only-switch[data-state="checked"] {
  background-color: #00B49E;
}
#orderly-reduce-only-switch[data-state="unchecked"] {
  background-color: #4B5369;
}
#orderly-top-nav-bar {
  font-size: 14px;
}
#orderly-chart-view-tabs {
  font-size: 14px;
}
#orderly-leverage .orderly-text-4xs {
  font-size: 12px;
}
.orderly-order-book-list-item div {
  font-size: 12px;
}
#orderly-order-book-mark-price div:nth-child(1) {
  font-size: 15px;
}
#orderly-order-entry .orderly-text-4xs {
  font-size: 12px;
}
#orderly-order-entry .orderly-button-variant-contained,
#orderly-order-entry .orderly-segmented-button,
#orderly-order-entry .orderly-input {
  font-size: 14px;
}
#orderly-order-entry .orderly-input {
  color: rgba(255, 255, 255, 0.9);
}
#orderly-order-entry .orderly-select,
#orderly-order-entry .orderly-select-menu,
#orderly-order-entry .orderly-input-container {
  background-color: rgb(var(--orderly-color-base-500));
}
#orderly-order-entry .orderly-input-container-readonly {
  background-color: rgb(var(--orderly-color-base-600));
}
#orderly-order-entry .orderly-order-entry-radio-button .orderly-order-entry-radio-circle {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
#orderly-order-book-depth div {
  font-size: 12px;
  color: #fff;
}
.orderly-action-sheet-content div {
  font-size: 16px;
}
#orderly-data-list #tab-positions,
#orderly-data-list #tab-orders,
#orderly-data-list #tab-history {
  font-size: 14px;
}
#orderly-data-list #orderly-data-list-positions .orderly-text-4xs,
#orderly-data-list #orderly-data-list-pending .orderly-text-4xs,
#orderly-data-list #orderly-data-list-history .orderly-text-4xs {
  font-size: 12px;
}
#orderly-data-list #orderly-data-list-positions .orderly-text-3xs,
#orderly-data-list #orderly-data-list-pending .orderly-text-3xs,
#orderly-data-list #orderly-data-list-history .orderly-text-3xs,
#orderly-data-list #orderly-data-list-positions .orderly-text-2xs,
#orderly-data-list #orderly-data-list-pending .orderly-text-2xs,
#orderly-data-list #orderly-data-list-history .orderly-text-2xs {
  font-size: 14px;
}
#orderly-data-list #orderly-data-list-positions .orderly-text-base-contrast-20,
#orderly-data-list #orderly-data-list-pending .orderly-text-base-contrast-20,
#orderly-data-list #orderly-data-list-history .orderly-text-base-contrast-20 {
  color: rgba(255, 255, 255, 0.36);
}
#orderly-data-list #orderly-data-list-positions .orderly-data-list-filter .orderly-text-4xs,
#orderly-data-list #orderly-data-list-pending .orderly-data-list-filter .orderly-text-4xs,
#orderly-data-list #orderly-data-list-history .orderly-data-list-filter .orderly-text-4xs {
  font-size: 12px;
  color: #fff;
}
#orderly-data-list #orderly-data-list-positions .orderly-data-list-filter label,
#orderly-data-list #orderly-data-list-pending .orderly-data-list-filter label,
#orderly-data-list #orderly-data-list-history .orderly-data-list-filter label {
  font-size: 12px;
}
#orderly-data-list #orderly-data-list-positions .orderly-button.orderly-button-variant-outlined,
#orderly-data-list #orderly-data-list-pending .orderly-button.orderly-button-variant-outlined,
#orderly-data-list #orderly-data-list-history .orderly-button.orderly-button-variant-outlined {
  color: rgb(var(--orderly-color-tertiary));
}
#orderly-data-list .orderly-data-list-tab-bar,
#orderly-data-list #orderly-data-list-positions-header {
  background-color: rgb(var(--orderly-color-base-700));
}
.orderly-dialog-content .orderly-dialog-title {
  font-size: 16px;
  color: #fff;
}
.orderly-confirm-dialog .orderly-dialog-body .orderly-text-2xs {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.54);
}
.orderly-confirm-dialog .orderly-dialog-footer .orderly-confirm-dialog-cancal-button {
  background-color: #FF447C;
}
.orderly-confirm-dialog #orderly-market-close-dialog-content {
  font-size: 16px;
  color: #fff;
}
.orderly-modal-alert .orderly-button-variant-contained.orderly-button-color-primary {
  width: 200px;
}
#orderly-deposit-and-withdraw .orderly-text-4xs {
  font-size: 12px;
}
#orderly-deposit-and-withdraw .orderly-text-2xs,
#orderly-deposit-and-withdraw .orderly-text-3xs,
#orderly-deposit-and-withdraw .orderly-text-sm {
  font-size: 14px;
}
#orderly-deposit-and-withdraw .orderly-wallet-picker {
  color: rgba(255, 255, 255, 0.98);
}
#orderly-deposit-and-withdraw .orderly-deposit-action-button-container,
#orderly-deposit-and-withdraw .orderly-withdraw-action-button-container {
  width: 200px;
}
#orderly-deposit-and-withdraw .orderly-quantity-input-max,
#orderly-deposit-and-withdraw .orderly-token-select {
  font-size: 12px;
}
#orderly-asset-and-margin-sheet #orderly-asset-and-margin-sheet-title {
  font-size: 20px;
}
#orderly-asset-and-margin-sheet #orderly-asset-and-margin-sheet-content {
  font-size: 14px;
}
#orderly-asset-and-margin-sheet #orderly-asset-and-margin-sheet-content .orderly-text-4xs {
  font-size: 12px;
}
#orderly-asset-and-margin-sheet #orderly-asset-and-margin-sheet-content .orderly-text-2xs {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.36);
}
#my-account-sheet-title {
  font-size: 20px;
}
#orderly-markets-sheet-content #orderly-markets-sheet-title {
  font-size: 20px;
}
#orderly-markets-sheet-content .orderly-text-4xs {
  font-size: 12px;
}
#orderly-markets-sheet-content .orderly-text-2xs {
  font-size: 14px;
}
#orderly-markets-sheet-content .orderly-markets-search-icon {
  color: rgba(255, 255, 255, 0.98);
}
.orderly-edit-order-sheet-content .orderly-sheet-title {
  font-size: 20px;
}
.orderly-edit-order-sheet-content .orderly-text-4xs {
  font-size: 12px;
}
.orderly-edit-order-sheet-content .orderly-text-2xs,
.orderly-edit-order-sheet-content input {
  font-size: 14px;
}
.orderly-switch-network-dialog-title {
  font-size: 16px;
}
.orderly-chain-list .orderly-chain-symbol-name {
  font-size: 14px;
}
